# ==============================================
# MTK Policy Rule
# ============
dontaudit logd unlabeled:dir search;

allow logd logd:capability dac_override;
