# xen0n fixes
# init
# debugfs mount
allow init debugfs:dir { mounton };

# /dev/wmtWifi writes
allow init wmtWifi_device:chr_file { write };

# proj-dev-setup
# /data/BT_Addr
type mtk_bt_addr_file, file_type;
allow nvram_daemon mtk_bt_addr_file:file { open getattr setattr read write };

# mtkbt
type mtkbt_exec, exec_type, file_type;
type mtkbt, domain;
init_daemon_domain(mtkbt)

allow mtkbt self:capability { net_admin };
allow mtkbt mtkbt:netlink_socket { bind create read setopt write };
allow mtkbt persist_bt_prop:file { read open getattr };
#allow mtkbt property_service:sock_file write;
allow mtkbt init:unix_stream_socket connectto;

# /dev/socket/bt.int.adp write
type xen0n_mtk_bt_int_adp_socket, file_type;
allow mtkbt xen0n_mtk_bt_int_adp_socket:sock_file { create unlink setattr write };


# Meizu additions
# tfa9890
type tfa9890_i2c_device, dev_type;
type tfa9890_exec, exec_type, file_type;
type tfa9890, domain;
init_daemon_domain(tfa9890);

allow mediaserver tfa9890_i2c_device:chr_file { open ioctl read write };

# camera
type LC898212XD_device, dev_type;

allow mediaserver LC898212XD_device:chr_file { open ioctl read write };

